.videoActionDiv {
    margin-left: auto;
}
.videoActionDiv div {
    display: inline-block;
}
.videoActionDiv button {
    margin: 0.5rem;
}

.textEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
