.playlistCardButton {
    display: flex;
    height: unset;
    padding: 0;
    width: 100%;
    margin: 0 !important;
    flex-flow: column;
}

.playlistButtonActive {
    position: sticky;
    top: 0;
    z-index: 128;
    background-color: var(--dp2-surface) !important;
}
.playlistButtonActive:hover {
    background-color: var(--dp24-surface) !important;
}

.playlistCard {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    width: 100%;
}

.playlistCard .playlistIcon {
    height: 100%;
}

.playlistCard .playlistInfo {
    height: 100%;
    flex-direction: column;
    padding-left: 1rem;
    text-align: start;
    overflow: hidden;
}

.playlistCardInfo {
    display: flex;
    flex-flow: row;
    height: 4rem;
}

.playlistVideos {
    margin-left: 2rem;
    height: 0;
    overflow-y: auto;
    transition: height 0.25s ease;
    background-color: var(--dp8-surface);
}

.playlistVideosExpanded {
    height: unset;
}
