.root {
    padding: 56px 20px;
    min-height: 100%;
    width: 100%;
}

.logoutButton {
    color: var(--text-secondary);
    font-weight: 600;
    margin-left: 0;
}

.disconnectTooltip {
    display: inline-block;
}
