.BottomBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: var(--dp2-surface);
    height: 5rem;
}

.bottomVideoInfo {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    padding-right: 8rem;
    width: 50%;
    max-width: 50%;
}
.bottomVideoInfoFull {
    width: 100%;
    max-width: 100%;
}

.bottomVideoIcon {
    max-height: 4rem;
    padding-right: 1rem;
}

.bottomMiddleActions {
    width: 16rem;
    position: absolute;
    left: 50%;
    right: 50%;
    height: 5rem;
    transform: translate3d(-50%, 0, 0);
    display: flex;
    justify-content: space-evenly;
}

.bottomRightActions {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding-left: 8rem;
    width: 50%;
    max-width: 50%;
}

.bottomQueueButton {
    height: 3rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: inline-flex;
    background-color: var(--theme-primary-dark);
}
.bottomQueueButton p {
    line-height: 2rem;
    padding: 0 0.5rem;
    font-size: 1rem;
}

.QueueContainer {
    max-height: 100%;
    width: 50%;
    margin: 0 6rem;
    padding: 2rem 0;
    display: flex;
    overflow: hidden;
    position: relative;
}
