.PageRoot {
    padding-top: var(--navbar-height);
    min-height: 100%;
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-flow: column;
}

.textEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.centerTooltipChild {
    display: inline-flex !important;
    align-items: center;
}

.splitPane {
    display: flex;
    flex-direction: row;
    flex: auto;
    overflow-y: hidden;
}

.videoPanel {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 1rem;
    flex: auto;
}

.videoDiv {
    height: 100%;
    display: flex;
    flex: auto;
}
.videoDiv iframe {
    width: 100%;
    height: auto;
}

@media (max-width: 960px) {
    .splitPane {
        flex-direction: column;
    }
    .sidebarContainer {
        max-width: unset;
        width: 100%;
    }
}

.scrollBox {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
.scrollBox h2 {
    margin-top: 0;
}

.AdminName {
    color: var(--theme-secondary-light) !important;
}

.UserRow {
    display: flex;
    justify-content: space-between;
}
.UserRowTitle {
    line-height: 44px;
}

.NonexistantRoom {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.userContainer {
    padding: 1rem;
}
