.editContainer {
    padding: 0.5rem;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    width: 100%;
}

.removeAllButton {
    float: right;
    color: var(--theme-secondary-light) !important;
    font-size: 1rem;
    margin: 0.5rem 1rem;
}

.editCard:hover > div {
    background: var(--dp16-surface);
}

.editTitle {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 2.5rem;
    display: inline-block;
}

.editList {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    flex: auto;
}
