.queueContainer {
    padding-top: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    overflow: hidden;
    width: 100%;
}

.queueTabBody {
    display: flex;
    flex-flow: column;
    overflow-y: hidden;
    width: 100%;
}

.searchDiv {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}
.searchDiv > div {
    flex: auto;
}

.searchClear {
    position: absolute;
    right: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    color: var(--theme-primary);
    padding: 0.25rem;
    display: flex;
}
.searchClear:hover {
    background: var(--dp16-surface);
}
