.RoomCard {
    color: var(--text-secondary);
    background-color: var(--dp4-surface);
    height: 20rem;
    width: 16rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 0.75rem;
}
.RoomCard:hover {
    background-color: var(--dp24-surface) !important;
}
.RoomCard:focus {
    color: var(--text-secondary) !important;
    background-color: var(--dp4-surface) !important;
}
.RoomCard > div {
    height: 100%;
    display: flex;
    flex-flow: column;
}
.RoomCard span {
    color: var(--text-secondary-disabled);
    line-height: 1rem;
    margin-top: 0.5rem;
}
.RoomCard * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.RoomCardTitle {
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 0.25rem;
    color: var(--theme-primary-dark);
    border-bottom: 2px solid var(--theme-secondary-dark);
}
.RoomCardPreview {
    margin-top: 1rem;
}
.RoomCardPreview img {
    width: 100%;
}
.RoomCard h3 {
    margin: 0.5rem 0 0 0;
    text-align: left;
}
.RoomCard p {
    margin: 0;
    text-align: left;
}

.cardIcon {
    color: var(--theme-secondary);
    padding: 0.75rem;
    margin: 0.25rem 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    margin-top: auto;
    margin-left: auto;
}
.cardIcon:hover {
    background: rgba(0, 0, 0, 0.2);
    color: var(--theme-secondary-light);
}
.cardIcon > div {
    display: flex;
}
