html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #e1e1e1;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	--mdc-theme-primary: #37474f;
	--mdc-theme-primary-dark: #102027;
	--mdc-theme-primary-light: #62727b;
}

#app {
	height: 100%;
}

.mui-textfield {
	display: inline-block;
}

.mui-btn {
	margin: 1rem;
}

.mui-btn--fab {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
