.header {
    position: fixed;
    left: 0;
    top: 0;
    height: var(--navbar-height);
    width: 100%;
    padding: 0;
    background: var(--dp2-surface);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 50;
}
.header h1 {
    float: left;
    margin: 0;
    padding: 0 15px;
    font-size: 2rem;
    font-weight: 400;
    line-height: var(--navbar-height);
    color: var(--text-secondary);
}
.headerWatch {
    float: left;
    height: 100%;
    padding: 0.25rem 0 0.25rem 0.5rem;
}

.headerNav {
    display: inline-block;
    padding: 0 1rem;
    min-width: 3rem;
    height: var(--navbar-height);
    background: rgba(255, 255, 255, 0);
    text-decoration: none;
    font-weight: 600;
    color: var(--theme-primary-dark) !important;
    will-change: background-color;
    font-size: 1.5rem;
    cursor: pointer;
    line-height: var(--navbar-height);
    vertical-align: top;
}
.headerNav:hover,
.headerNav:active {
    background: rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
.headerNav.active {
    background: rgba(0, 0, 0, 0.4);
}

.headerRight {
    float: right;
    padding-right: 0.5rem;
}

.headerUserIcon {
    height: var(--navbar-height);
    border-radius: 50%;
    margin-left: 1rem;
    vertical-align: top;
    padding: 0.25rem 0;
}
