.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    background: var(--dp2-surface);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 50;
}
.header h1 {
    float: left;
    margin: 0;
    padding: 0 15px;
    font-size: 32px;
    font-weight: 400;
    line-height: unset;
    color: var(--text-secondary);
}
.headerWatch {
    float: left;
    height: 100%;
    padding: 0.5rem 0 0.5rem 1rem;
}

.headerNav {
    display: inline-block;
    padding: 0 15px;
    min-width: 50px;
    background: rgba(255, 255, 255, 0);
    text-decoration: none;
    font-weight: 600;
    color: var(--theme-primary-dark) !important;
    will-change: background-color;
    font-size: 2rem;
    cursor: pointer;
}
.headerNav:hover,
.headerNav:active {
    background: rgba(0, 0, 0, 0.2);
    text-decoration: none;
}
.headerNav.active {
    background: rgba(0, 0, 0, 0.4);
}

.headerRight {
    float: right;
    padding-right: 0.5rem;
}

.headerUserIcon {
    width: 5rem;
    height: 5rem;
    border-radius: 2.5rem;
    margin-left: 1rem;
}

.textEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.VideoCard {
    display: flex;
    padding: 1rem;
    height: 8rem;
    width: 100%;
    position: relative;
}
.VideoCard:hover > .VideoDuration {
    display: block;
}
.VideoCardButton:hover .VideoDuration {
    display: block;
}
.VideoCard > .VideoIcon {
    height: 100%;
    display: inline-flex;
}
.VideoCard > .VideoInfo {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    padding-left: 1rem;
    text-align: start;
    overflow: hidden;
}
.VideoCardButton {
    display: flex;
    height: unset;
    padding: 0 1rem;
    width: 100%;
    margin: 0 !important;
    flex-flow: column;
}
.VideoCard > .VideoDuration {
    font-weight: 500;
    position: absolute;
    background: var(--dp2-surface);
    padding: 0 0.4rem;
    border-radius: 0 0 0.5rem 0;
    display: none;
}

.VideoPreview {
    z-index: 128;
    padding-left: 1rem;
}

.PlaylistButtonActive {
    position: sticky;
    top: 0;
    z-index: 128;
    background-color: var(--dp2-surface) !important;
}
.PlaylistButtonActive:hover {
    background-color: var(--dp24-surface) !important;
}
.PlaylistCard {
    display: flex;
    flex-flow: column;
    padding: 1rem;
    width: 100%;
}
.PlaylistCard .PlaylistIcon {
    height: 100%;
}
.PlaylistCard .PlaylistInfo {
    height: 100%;
    flex-direction: column;
    padding-left: 1rem;
    text-align: start;
    overflow: hidden;
}
.PlaylistCardInfo {
    display: flex;
    flex-flow: row;
    height: 7rem;
}
.PlaylistVideos {
    margin-left: 4rem;
    margin-right: 2rem;
    height: 0;
    overflow-y: auto;
    transition: height 0.25s ease;
    background-color: var(--dp8-surface);
}
.PlaylistVideosExpanded {
    height: unset;
}
.VideoActionDiv {
    margin-left: auto;
}
.VideoActionDiv div {
    display: inline-block;
}

.ModalOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    transition: opacity 100ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1024;
}
.ModalOverlay .ModalCancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}
.ModalOverlay:target {
    visibility: visible;
    opacity: 1;
}

.popupTooltip {
    background-color: var(--dp16-surface);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1024;
}

.NotificationBackground {
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    max-width: 32rem;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    position: absolute;
    right: 1rem;
    top: 7rem;
    z-index: 1024;
}
.NotificationText {
    display: flex;
    align-items: center;
}
.notificationHide {
    opacity: 0;
}
.notificationError {
    background-color: var(--theme-error);
}
.notificationInfo {
    background-color: var(--theme-primary);
}
.notificationLoading {
    background-color: var(--theme-primary);
}

.DropdownContainer {
    flex-flow: column;
    display: flex;
    z-index: 2048;
    background-color: var(--dp8-surface);
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.4rem 0.8rem 0px rgba(0, 0, 0, 0.5);
}
.DropdownOption {
    height: auto;
    color: var(--text-secondary) !important;
    margin: 0 !important;
}
.DropdownBackdrop {
    z-index: 1024;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.VolumeBox {
    width: 4rem;
    height: 32rem;
    margin: 0 0.5rem;
    position: relative;
}
.VolumeSlider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--theme-primary);
    border-radius: 0.5rem;
}

.RoomCard {
    color: var(--text-secondary);
    background-color: var(--dp16-surface);
    height: unset;
    width: 32rem;
    padding: 2rem;
    border-radius: 1.5rem;
}
.RoomCard * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.RoomCardTitle {
    margin: 0 1rem;
    font-size: 2.5rem;
}
.RoomCardPreview {
    margin-top: 2rem;
}
.RoomCardPreview img {
    width: 100%;
}
.RoomCard h3 {
    margin: 0;
    text-align: left;
}
.RoomCard p {
    margin: 0;
    text-align: left;
}
