.textEllipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.centerTooltipChild {
    display: inline-flex !important;
    align-items: center;
}

.popupTooltip {
    background-color: var(--dp16-surface);
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1024;
}

.DropdownContainer {
    flex-flow: column;
    display: flex;
    z-index: 2048;
    background-color: var(--dp8-surface);
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.4rem 0.8rem 0px rgba(0, 0, 0, 0.5);
}
.DropdownOption {
    height: auto;
    color: var(--text-secondary) !important;
    margin: 0 !important;
}
.DropdownBackdrop {
    z-index: 1024;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.VolumeBox {
    width: 2rem;
    height: 24rem;
    margin: 0 0.25rem;
    position: relative;
}
.VolumeSlider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--theme-primary);
    border-radius: 0.25rem;
}
